body {
    margin: 0px;
    width: 100%;
    top: 0px;
}

nav {
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
}

.tool {
    position: absolute;
    z-index: 2;
    right: 0px;
    height: 50px;
    margin-right: 40px;
    margin-top: 35px;
}

.tool>span {
    color: white;
    font-size: 16px;
    margin-left: 30px;
    padding-bottom: 25px;
    padding-top: 80px;
    transition: 0.5s all;
}

.tool:hover span {
    opacity: .2;
    filter: blur(1px);
}

.tool>span:hover {
    opacity: 1;
    filter: blur(0px);
}

.logo {
    height: 50px;
    width: 125px;
    padding-top: 16px;
    padding-left: 20px;
}

.logo>img {
    height: 50px;
    margin-left: 6px;
}

.backImage {
    background-image: url(house.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;
}

.title {
    height: 440px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 120px;
    margin-left: 100px;
    font-size: 20px;
}

.everything>img {
    height: 90px;
}

.verticalSpan {
    vertical-align: middle;
}

.explorer {
    z-index: 1;
    background-color: white;
    height: 1000px;
    position: relative;
    padding: 0px 60px 0px 60px;
}

.explorer>span {
    display: block;
    font-size: 24px;
    margin-top: 40px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.mobileText {
    display: block;
    font-size: 30px;
    color: black;
    width: 100%;
    margin-top: 0px;
}

.location {
    text-align: left;
    display: block;
    width: fit-content;
    margin-top: 20px;
    font-size: 14px;
}

.location>input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    width: 330px;
    padding-left: 16px;
    margin-top: 16px;
    font-size: 14px;
}

.right {
    text-align: right;
}

.rightTemp {
    width: 100%;
    text-align: right;
}

.rightTemp>button {
    margin-top: 40px;
    border: 0px;
    color: white;
    width: 70px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4376FF;
}

.everything {
    margin-bottom: 10px;
}

.house2 {
    width: 100%;
    position: absolute;
    top: 90px;
    height: 2000px;
    background-color: white;
    padding-top: 80px;
    z-index: 12;
    border-radius: 20px;
    display: table-column;
    text-align: center;
}

.house2>span {
    display: block;
    position: absolute;
    margin-top: 20px;
    left: 2.5%;
    font-size: 30px;
    font-weight: bolder;
}

.house2>img {
    text-align: center;
    display: table-;
    width: 95%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 20px;
}

#help {
    height: 0;
    background-color: white;
    width: 400px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 9;
    transition: 1s all;
    opacity: 0;
    margin-top: 100px;
    border-radius: 20px;
}

#help>span>img {
    width: 100%;
    height: auto;
}

#register {
    height: 0;
    background-color: white;
    width: 400px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 9;
    transition: 1s all;
    opacity: 0;
    margin-top: 100px;
    border-radius: 20px;
}

#register>span>img {
    width: 100%;
    height: auto;
}

.cate {
    width: 300px;
    height: 80px;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 20px;
}

.label {
    width: 220px;
    text-align: center;
    float: right;
    height: 100%;
    display: table;
}

.label>span {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
}

.thumbnail-wrap {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

.image-wrap {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.thumbnail-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

.thumbnail {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    padding-top: 80px;
    width: 80px;
    border-radius: 4px;
}

.image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: 100%;
}

.thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
}

.thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.image .centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.thumbnail .centered img {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.image .centered img {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
    width: 100%;
    max-width: none;
    height: auto;
}

.thumbnail img.landscape {
    width: auto;
    max-width: none;
    height: 100%;
}

.image img.landscape {
    width: auto;
    max-width: none;
    height: 100%;
}

.recommend {
    width: 100%;
    height: 300px;
}

.recontent {
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    width: 23%;
    padding-left: 8px;
    padding-right: 8px;
    height: 100%;
}

.spanCon {
    z-index: 5;
    text-align: center;
    display: inline;
    position: absolute;
    width: 19.5%;
    padding: 8px;
    font-size: 20px;
    color: white;
    margin-top: 220px;
    font-weight: bold;
}

.spanCona {
    z-index: 5;
    text-align: center;
    display: inline;
    position: absolute;
    width: 19.5%;
    padding: 8px;
    font-size: 20px;
    color: black;
    margin-top: 220px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .tool {
        display: none;
    }

    .logo {
        padding-left: 16px;
    }

    .title {
        width: 100%;
        height: 500px;
        padding: 0px;
        margin-left: 0px;
        font-size: 16px;
        margin-top: 150px;
        border-radius: 0px;
    }

    .title>center>img {
        height: 70px;
    }

    nav {
        height: 100vh;
        width: 100%;
    }

    .backImage {
        min-height: 0px;
        width: auto;
        z-index: -1;
        top: 0px;
        height: 300px;
        background-image: url(house.jpg);
        background-size: cover;
        z-index: -1;
    }

    .mobileText {
        display: block;
        font-size: 25px;
        color: black;
        width: 100%;
        margin-top: 0px;
    }

    .explorer {
        position: absolute;
        top: 100%;
        width: auto;
        text-align: center;
        padding: 0;
    }

    .thumbnail-wrap {
        display: inline-block;
        width: 25%;
        vertical-align: middle;
        float: left;
    }

    .cate {
        margin-right: 0px;
        width: 300px;
    }

    .label {
        width: 220px;
    }


}